.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1E90FF;
    color: white;
}

.brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.toggleButton {
    padding: 8px 16px;
    cursor: pointer;
    background-color: white;
    border: none;
    border-radius: 5px;
    color: #1E90FF;
    font-size: 16px;
}

.container {
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    margin: auto;
    text-align: center;
    transition: background 0.3s, color 0.3s;
}
.light {
    background-color: #ffffff;
    color: #000000;
}

.dark {
    background-color: #242629;
    color: #ffffff;
}

button {
    margin: 10px;
}